.line{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    max-width: 706px;
    height: auto;
    font-size: 14px;
}
.line_long{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    height: auto;
    font-size: 14px;
}

.line_column{
    flex-direction: column;
    margin-top: 16px;
}

.title{
    color: #ABABAB;
    min-width: 90px;
}   

.title_long{
    font-size: 20px;
    color: #1B1F23;
}

.info{
    margin-left: 16px;
    color: #1B1F23;
    width: auto;
}

.info_long{
    font-size: 20px;
    margin-left: 8px;
}

.line_column .info_long{
    margin-top: 16px;
    margin-left: 0;
}