.area{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.area:hover{
    background-color: #E9EAED;
    cursor: pointer;
}

.area_inactive{
    background-color: #E9EAED;
}

.arrow_left{
    transform: rotate(180deg);
}