.area{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 32px;
    width: calc(100vw - 64px);
    min-height: calc(100vh - 128px);
    background-color: #EDEDED;
    z-index: 10;
}

.actors{
    display: flex;
    flex-direction: row;

}

.card{
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.title{
    font-size: 24px;
    font-weight: 600;
}

.picture{
    width: 160px;
    height: 228px;
    object-fit: cover;
    border-radius: 8px;
}

.name{
    margin-top: 16px;
    font-size: 14px;
}